<div id="page-content-wrapper" [hidden]="authenticated()">
  <p>Conectate primero para ver esta seccion</p>
</div>
  <div id="page-content-wrapper" [hidden]="!authenticated()">
    <div container>
      <table class="table table-striped table-bordered table-sm">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th> </th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pacientes of respuesta">
              <td>
             {{pacientes.nombre}}
              </td>
              <td>
              {{pacientes.apellido}} 
              </td>
              <td><a [routerLink]="['/listado-lesiones',pacientes.id]">Ver lesiones</a></td>
          </tr>
          </tbody>
      </table>
  </div>


