


<!--
<div id = "Contenido" class = "Contenido" >
  <ion-icon name="menu-outline" class = "menu-bar"></ion-icon>
</div>


<div class = "row" >
    <div class = "col-6">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/IMD008.bmp" class="d-block w-100" alt="PRIMERA IMAGEN">
              </div>
              <div class="carousel-item">
                <img src="assets/IMD003.bmp" class="d-block w-100" alt="SEGUNDA IMAGEN">
              </div>
              <div class="carousel-item">
                <img src="assets/IMD004.bmp" class="d-block w-100   " alt="TERCERA IMAGEN">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>



    </div>
</div>
-->