<!-- Boton disparador Modal Alta -->

<div container class="col-12" class="btn-group" >
    
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#altarecomendacion"
        (click)='limpiarrecomendacion()'>
        Nueva recomendación
    </button>
    <button [disabled]="!selected" type="button" class="btn btn-dark" data-toggle="modal" data-target="#altarecomendacion">
        Modificar recomendación
    </button>

</div>

<!--TABLA DE RECOMENDACIONES-->
<div container>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Tipo Lesión</th>
            <th>Título</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recomendacion of listarecomendaciones">
            <td>
                <!-- Boton de seleccion -->
                <div class="form-check">
                    <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1"
                        value="option1" (click)=assignrecomendacion(recomendacion)>
                </div>
            </td>
            <td>{{recomendacion.tipolesion}}</td>
            <td>{{recomendacion.titulo}}</td>
            <td>{{recomendacion.descripcion}}</td>
            <td>
                <!-- Boton para Eliminar -->
                <button type="button" class="close" aria-label="Close"
                    (click)=removerecomendacion(recomendacion)>
                    <span aria-hidden="true">&times;</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>



<!--POP UPS-->
<!-- Modal Alta-->
<div class="modal fade" id="altarecomendacion" tabindex="-1" role="dialog" aria-labelledby="altarecomendacionLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="altarecomendacionLabel">Recomendación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="usr">Tipo de Lesión</label>
                        <select [(ngModel)]="nuevorecomendacion.tipoLesion" class="form-control">
                            <option *ngFor="let lesionItem of tipoLesiones" [ngValue]="lesionItem.id">
                                {{ lesionItem.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="usr">Título de recomendación</label>
                        <input type="text" minlength="1" maxlength="65" [(ngModel)]="nuevorecomendacion.titulo"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="usr">Descripción</label>
                        <p><textarea style="width: 100%" [(ngModel)]="nuevorecomendacion.descripcion" minlength="1" maxlength="1000"
                                cols="60" rows="10"></textarea></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <!-- Boton disparador Modal confirmacion -->
            <button type="button" (click)="agregarrecomendacion(nuevorecomendacion)" class="btn btn-primary"
                data-toggle="modal" data-target=".bd-example-modal-sm" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>


<!-- Modal Confirmacion de Alta -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="modal-body">
            <h6>La recomendación se guardado exitosamente</h6>
        </div>
    </div>
</div>
</div>