.main{
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar{
    position: absolute;
    top: 100px;
    left: 100px ;

}

.main-container{
    position: absolute;
    top: 110px;
    left: 300px;

}

