<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" *ngIf="navbarOpen">
    <div class="sidebar-header">
      <h3>Skinner</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#">Pacientes</a>
      </li>
      <li>
        <a href="#">Tratamientos</a>
      </li>
      <li>
        <a href="#">Perfil</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://outlook.live.com/">Contacto</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="toggleNavbar()">
          <ion-icon name="arrow-back-circle-outline" *ngIf="navbarOpen"></ion-icon> <!--CIERRA-->
          <ion-icon name="arrow-forward-circle-outline" *ngIf="!navbarOpen"></ion-icon> <!--ABRE-->
        </button>
                          
        <div id="navbarSupportedContent">
              <a class="nav-link" href="#">Configuracion</a>
              <a class="nav-link" href="#">Notificaciones</a>
        </div>
      </div>
    </nav>

    <h2>Paciente 1</h2>
    <p>AGREGAR CARROUSEL DE IMAGENES</p>

    <div class="line"></div>

    <h2>Paciente 2</h2>
    <p>AGREGAR CARROUSEL DE IMAGENES</p>

    <div class="line"></div>

    <h3>Paciente 3</h3>
    <p>AGREGAR CARROUSEL DE IMAGENES</p>
  </div>
</div>