
<div class="container py-5">

        <div class="row">
            <div class="col-lg-7">
                
                <!-- Timeline -->
                <ul class="timeline" *ngFor="let historial of historialLesion">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <div class="small text-gray mb-4"><i class="fa fa-clock-o mr-1"></i>Fecha de la foto: {{historial.fecha| date:"dd/MM/yyyy 'a las' HH:mm"}} </div>
                        <div class="text-center" ><img style='max-width:400px ;' src="data:image/png;base64,{{historial.imagen}}"></div>
                        <p class="text-small mt-2 font-weight-light">{{historial.descripcion}}</p>
                        <!--p class="text-small mt-2 font-weight-light">Resultados del analisis: {{historial.analisis}}</p-->
                        <button type="button" class="btn btn-success btn-block">Comentario</button>
                        <button type="button"  class="btn btn-success btn-block" data-toggle="modal" data-target="#imagenesAdicionales" (click)='getAdicionales(historial.id)'>Ver Adicionales</button>
            
                    </li>
                </ul><!-- End -->

            </div>
            <div class="col">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr *ngFor="let lesion of listaLesiones">
                            <th colspan="3" bgcolor="#ffae42" style="text-align: center;">Tipo de lesión: 
                                <p> {{lesion.nombrelesion}}
                                </p>
                                <p>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cambiarLesion">
                                       Cambiar tipo de lesión
                                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                              <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"></path>
                            </svg>
                                    </button>
                                  </p>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="3" bgcolor="#0db7c4" style="text-align: center;">Tratamientos asignados 
                                <p>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#altaTratamiento">
                                        Asignar tratamiento
                                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                              <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"></path>
                            </svg>
                                    </button>
                                  </p>
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center">Título</th>
                            <th style="text-align: center">Descripción</th>
                            <th style="text-align: center"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tratamientos of listaTratamientosAsignados">
                            <td style="text-align: center;vertical-align: middle;">
                           {{tratamientos.titulo}}
                            </td>
                            <td style="text-align: center;vertical-align: middle;">
                               {{tratamientos.descripcion}}
                            </td>
                            <td style="text-align: center;vertical-align: middle;">
                                <button (click)="tratamientoAAsignar=tratamientos.id" data-toggle="modal" data-target="#confirmacionBorrarTratamiento" type="button" class="btn">X</button>
                            </td>

                            
                        </tr>
                        
                    </tbody>
                </table>
                <div class="container content">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Chat</div>
                                <div #ventanaChat class="card-body height3"  style="height:400px;overflow: auto">
                                    <ul class="chat-list">
                                        <li *ngFor="let mensaje of listaMensajes" [ngClass]="(mensaje.id_origen_usuario==listaUsuarios.id_paciente)?'out':'in'">
                                            <div class="chat-img">
                                                <img alt="Avtar" [src]="(mensaje.id_origen_usuario==listaUsuarios.id_paciente)?'../../assets/empleado.png':'../../assets/doctor.png'">
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5><b>{{mensaje.nombre_origen+" "+mensaje.apellido_origen}}</b></h5>
                                                    <p>{{mensaje.mensaje}}</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="panel-footer" *ngIf="recibeNotificaciones==true">
                                        <div class="input-group">
                                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Escriba su mensaje..." [(ngModel)]="mensajeAEnviar" />
                                            
                                                <button (click)="setMensaje(mensajeAEnviar)" class="btn btn-warning btn-sm" id="btn-chat">
                                                    Send</button>
                                            
                                        </div>
                                    </div>                      
   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
              </div>
              
        </div>
        
    </div>

    <div class="modal fade" id="imagenesAdicionales" tabindex="-1" role="dialog" aria-labelledby="imagenesAdicionalesLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imagenesAdicionalesLabel">Imágenes Adicionales</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group" *ngFor="let adicionales of listaAdicionales;let i = index">
                        <h3 class="text-center">Imágen extraida N° {{i+1}}</h3>
                        <div class="text-center" ><img style='max-width:200px ;' src="data:image/png;base64,{{adicionales.recortada}}"></div>
                        <br/>
                        <h3 class="text-center">Bordes N° {{i+1}}</h3>
                        <div class="text-center" ><img style='max-width:200px ;' src="data:image/png;base64,{{adicionales.borde}}"></div>
                        <br/>
                        <h3 class="text-center">Gama de colores N° {{i+1}}</h3>
                        <div class="text-center" ><img style='max-width:200px ;' src="data:image/png;base64,{{adicionales.color}}"></div>
                        <br/>
                        <br/>
                        <button type="button" (click)="borrarAdicionales(adicionales.id_tipo)" class="btn btn-danger btn-block">Eliminar fotos</button>

                        <br/>
                        <hr class="style13"/>
                        <br/>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <!--Boton disparador Modal confirmacion-->
            <button type="button" (click)="asignarTratamiento(tratamientoAAsignar)" class="btn btn-primary"
                data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>
<!--POP UPS-->
<!-- Modal Alta-->
<div class="modal fade" id="altaTratamiento" tabindex="-1" role="dialog" aria-labelledby="altaTratamientoLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="altaTratamientoLabel">Tratamiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="usr">Tratamiento</label>
                        <select [(ngModel)]="tratamientoAAsignar" class="form-control">
                            <option *ngFor="let tratamientoItem of listaTratamientos" [ngValue]="tratamientoItem.id">
                                {{ tratamientoItem.titulo }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <!--Boton disparador Modal confirmacion-->
            <button type="button" (click)="asignarTratamiento(tratamientoAAsignar)" class="btn btn-primary"
                data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>

<!-- Modal Confirmacion de Alta -->
<div class="modal fade bd-example-modal-sm" id="confirmacionBorrarTratamiento" tabindex="-1" role="dialog" aria-labelledby="confirmacionBorrarTratamientoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>¿Esta seguro que desea borrar esta asignación?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- Boton disparador Modal confirmacion -->
                <button type="button" (click)="borrarTratamiento(tratamientoAAsignar)" class="btn btn-primary"
                    data-toggle="modal" data-target=".bd-example-modal-sm" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
  
<div class="modal fade" id="cambiarLesion" tabindex="-1" role="dialog" aria-labelledby="cambiarLesionLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cambiarLesionLabel">Lesion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="usr">Tipo de lesión</label>
                        <select [(ngModel)]="lesionAAsignar" class="form-control">
                            <option *ngFor="let tipoLesionItem of listaTipoLesiones" [ngValue]="tipoLesionItem.id">
                                {{ tipoLesionItem.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <!--Boton disparador Modal confirmacion-->
            <button type="button" (click)="asignarLesion(lesionAAsignar)" class="btn btn-primary"
                data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>