<div class="demo-app-main">
  <full-calendar
    *ngIf="calendarVisible"
    [options]="calendarOptions"
  ></full-calendar>
</div>

<div id="formCreacion" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Evento</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group">
        <div>
          Título:
          <input
            type="text"
            name="event_title"
            class="form-control"
            [(ngModel)]="title"
          />
        </div>
          <label for="usuario">Paciente</label>
          <select [(ngModel)]="paciente" class="form-control">
              <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                  {{ usuario.apellido + " " + usuario.nombre }} 
              </option>
          </select>
        <!-- <div>
          Event Color :
          <input
            type="color"
            name="favcolor"
            class="form-control"
            value="#ccc"
            [(ngModel)]="color"
          />
        </div> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default btn-raised"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary btn-raised"
          data-dismiss="modal"
          (click)="addNewEvent()"
        >
          Grabar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  id="formEdit"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group">
        <div>Fecha : {{ start | date: "dd/MM/yy" }}</div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default btn-raised"
            data-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            (click)="deleteEvent()"
            data-dismiss="modal"
            class="btn btn-danger btn-raised"
          >
            Borrar
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
